/* start variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 10px;
  --section-background: #f6f6f6;
  --tamkeen-color: #07a99c;
  --tamkeen-bg: #4d4d4d;
}
/* end varibables */
/* start Global rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth !important;
}
body {
  font-family: "Work Sans", sans-serif;
  font-family: "Almarai", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* start Components */
.special-heading {
  color: #aaa;
  font-size: 60px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -20px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: var(--tamkeen-color);
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 40px;
  }
  .special-heading + p {
    max-width: -20;
  }
}
/* end Components */
/* start Header */
.header {
  padding: 20px 0 0 0;
  background-color: var(--tamkeen-bg);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 100px;
  border-radius: 50%;
  margin-top: -25px;
}

@media (max-width: 540px) {
  .header .logo {
    width: 65px;
    border-radius: 50%;
    margin-top: -25px;
  }
}
.header .links {
  position: relative;
  margin-top: -20px;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
  transition: 1s;
  animation: mymove 2s infinite;
}
.header .links:hover .icon span:first-child {
  width: 50%;
  transition: 1s;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {
    transform: rotate(360deg);
  }
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #eee;
  margin-bottom: 5px;
  height: 2px;
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  width: 70%;
  transition: 0.3s;
}
.header .links ul {
  list-style: none;
  direction: rtl;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 150px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-right: 35px;
  background-color: #fdfdfd;
  font-weight: 500;
  color: var(--tamkeen-color);
  font-weight: bold;
}
.header .links ul li:not(:last-child) a {
  border-bottom: solid 1px #ddd;
}

.header .intro-text {
  left: 50%;
  top: 50%;
  text-align: center;
  /* transform: translate(-20%, -20%);
   width: 320px;
  max-width: 150%; */
}
.header .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--tamkeen-color);
}
@media (max-width: 992px) {
  .header .intro-text h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .header .intro-text h1 {
    font-size: 20px;
  }
}
.header .intro-text p {
  font-size: 17px;
  line-height: 1.8;
  color: var(--main-color);
}
/* End Header */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* start news-prode */
.news-prode {
  margin-top: 5px;
  padding: 5px;
}
/* end news-prode */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* start slide-show */
.carousel-item {
  transition: transform 2s ease, opacity 0.5s ease-out;
}
.slide-show {
  margin-top: 1px;
  height: 30%;
  z-index: -1;
}
.carousel-caption {
  text-align: right;
  direction: rtl;
}
.d-block {
  height: 400px;
  border-radius: 10px;
}
.carousel-item h5,
.carousel-item p {
  background-color: rgb(0, 0, 0, 0.9);
  border-radius: 0 18px 0 18px;
  padding: 7px 15px 7px 2px !important;
}
.carousel-item p {
  font-size: 14px;
  border-radius: 18px 0 18px 0;
  margin-top: -5px !important;
}

/* end slide-show */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* start news_pro */
.news-pro {
  /* padding-top: var(--section-padding); */
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.news-pro .news-pro-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 7px;
  margin-top: 10px;
}
.news-pro .news-pro-content .card {
  background-color: white;
}
.news-pro .news-pro-content .card img {
  width: 100%;
  max-width: 100%;
  height: 250px;
  max-height: 250px;
}
.news-pro .news-pro-content .card .info {
  padding: 20px;
}
.news-pro .news-pro-content .card .info h3 {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.news-pro .news-pro-content .card .info p {
  color: #777;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: justify;
  direction: rtl;
  font-size: 14px;
}

/* end news_pro */
/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/* start top-sell */

.top-sell .top-sell-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 7px;
  margin-top: 10px;
}
.top-sell .top-sell-content .card {
  background-color: white;
}
.top-sell .top-sell-content .card img {
  width: 100%;
  max-width: 100%;
  height: 250px;
  max-height: 250px;
}
.top-sell .top-sell-content .card .info {
  padding: 20px;
}
.top-sell .top-sell-content .card .info h3 {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.top-sell .top-sell-content .card .info p {
  color: #777;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: justify;
  direction: rtl;
  font-size: 14px;
}

/* end top-sell */
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  margin-top: 10px;
}
.services .services-content .srv {
  /* display: flex; */
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #777;
  font-weight: 300;
  line-height: 1.8;
}
.services .services-content .col .image {
  text-align: center;
  position: relative;
}
.services .services-content .col .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 80px;
  height: calc(100% + 40px);
  top: -20px;
  position: absolute;
  left: 480px;
  z-index: -1;
}
.services .services-content .col .image img {
  width: 260px;
}

/* End services */

/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  /* background-color: var(--section-background); */
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
  margin-top: 100px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  width: 100%;
  max-width: 100%;
  height: 250px;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.5;
  margin-bottom: 0;
}
/* end portfolio */

/* start about */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 20px;
  }
}
.about .about-content .image img {
  width: 100%;
  height: 375px;
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  left: -20px;
  height: calc(100% + 80px);
  z-index: -1;
  top: -40px;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  right: -150px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  top: -40px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 40px;
  /* text-align: justify; */
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* end about */
/* start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .lable {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  color: var(--secondary-color);
  margin-left: 10px;
}
@media (max-width: 767px) {
  .contact .info .lable,
  .contact .info .link {
    font-size: 25px;
  }
}

/* end Contact */

/* start footer  */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
  direction: rtl;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
  direction: rtl;
}
/* start footer  */
/* ///////////////////////* */
