          {% load static %}
          <!-- begin:sidebar -->
          <div class="col-md-3 col-md-pull-9 sidebar">

            {% if book.id %}
            <div class="widget-white favorite">
             {% if  user.is_authenticated %}
                <a id="addto2" class="btn" data-toggle="modal" data-target="#staticmodal">
                <i class="fa   fa-shopping-cart " style="font-size:20px; color:tomato;" aria-hidden="true"></i> 
                     إضف إلى سلة المشتريات  
                </a>
                 {% else %}
                   <a   class="badge text-center text-danger" >
                      لشراء هذا الكتاب يجب ان تقوم بتسجيل الدخول
                    </a>
                               
                    {% endif %}



            </div>
            {% endif %}
            <!-- break -->
            <div class="widget widget-sidebar widget-white">
              <div class="widget-header">
                <h3>أحدث الأصدارات</h3>
              </div>    
              <ul>
                {% for book in news_pro %}
                  <li><a href="{% url 'books:Detail' book.id %}">{{ book.title_book}}</a></li>
                {% endfor %}
        
              </ul>
            </div>
            <!-- break -->
            <div class="widget widget-sidebar widget-white">
              <div class="widget-header">
                <h3>نوع ملک</h3>
              </div>    
              <ul class="list-check">
                <li><a href="#">دفتر</a>&nbsp;(18)</li>
                <li><a href="#">دفتر</a>&nbsp;(43)</li>
                <li><a href="#">فروشگاه</a>&nbsp;(31)</li>
                <li><a href="#">ویلا</a>&nbsp;(52)</li>
                <li><a href="#">اپارتمان</a>&nbsp;(8)</li>
                <li><a href="#">خانه های تک خانوار</a>&nbsp;(11)</li>
              </ul>
            </div>
            <!-- break -->
            <div class="widget widget-sidebar widget-white">
              <div class="widget-header">
                <h3>عوامل بالا</h3>
              </div>    
              <ul>
                <li><a href="#">ایمان مدائنی</a></li>
                <li><a href="#">سجاد باقرزاده</a></li>
                <li><a href="#">ایمان مدائنی</a></li>
                <li><a href="#">سجاد باقرزاده</a></li>
              </ul>
            </div>
            <!-- break -->
          </div>
          <!-- end:sidebar -->