{% load static %}

<!-- begin:more-order -->
<div id="topOrder">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-title">
          <h2>الاصدارات الاكثر طلبا</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="property-container">
          <div class="property-image">
            <div class="bg-image"></div>
            <img
              src="{% static 'tamkeen/img/book.jpg' %}"
              alt="arillo real estate theme"
            />
            <div class="property-price">
              <span>تمكين 2</span>
            </div>
          </div>
          <div class="property-content">
            <h3><a href="#">ها هو اليتيم بعين الله</a></h3>
            <p>
              اقرأ عن قصّة النبي محمّد (ص) من الولادة إلى البعثة بأسلوبٍ شيّق
              وتجربة حديثة في كتابة السيرة في رواية كتاب: بعين الله
            </p>
          </div>
          <div class="property-features">
            <span><i class="fa fa-book"></i> 156 </span>
            <span><i class="fa fa-calendar"></i> 2010</span>
            <span><i class="fa fa-star"></i> 4</span>
            <span><i class="fa fa-money"></i> 7000</span>
          </div>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="property-container">
          <div class="property-image">
            <div class="bg-image"></div>
            <img
              src="{% static 'tamkeen/img/book.jpg' %}"
              alt="arillo real estate theme"
            />
            <div class="property-price">
              <!-- <h4>مسکونی</h4> -->
              <span>تمكين 2</span>
            </div>
          </div>
          <div class="property-content">
            <h3><a href="#">ها هو اليتيم بعين الله</a></h3>
            <p>
              اقرأ عن قصّة النبي محمّد (ص) من الولادة إلى البعثة بأسلوبٍ شيّق
              وتجربة حديثة في كتابة السيرة في رواية كتاب: بعين الله
            </p>
          </div>
          <div class="property-features">
            <span><i class="fa fa-book"></i> 156 </span>
            <span><i class="fa fa-calendar"></i> 2010</span>
            <span><i class="fa fa-star"></i> 4</span>
            <span><i class="fa fa-money"></i> 7000</span>
          </div>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="property-container">
          <div class="property-image">
            <div class="bg-image"></div>
            <img
              src="{% static 'tamkeen/img/book.jpg' %}"
              alt="arillo real estate theme"
            />
            <div class="property-price">
              <!-- <h4>مسکونی</h4> -->
              <span>تمكين 2</span>
            </div>
          </div>
          <div class="property-content">
            <h3><a href="#">ها هو اليتيم بعين الله</a></h3>
            <p>
              اقرأ عن قصّة النبي محمّد (ص) من الولادة إلى البعثة بأسلوبٍ شيّق
              وتجربة حديثة في كتابة السيرة في رواية كتاب: بعين الله
            </p>
          </div>
          <div class="property-features">
            <span><i class="fa fa-book"></i> 156 </span>
            <span><i class="fa fa-calendar"></i> 2010</span>
            <span><i class="fa fa-star"></i> 4</span>
            <span><i class="fa fa-money"></i> 7000</span>
          </div>
        </div>
      </div>
      <!-- break -->
    </div>
    <!-- end row-->
  </div>
</div>
<!-- end:more-order -->
