{% load static %}

<div id="service">
        <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h2>لماذا تمكين</h2>
                  </div>
                </div>
                <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="service-container">
                            <div class="service-icon">
                              <a href="#"><i class="fa fa-home"></i></a>
                            </div>
                            <div class="service-content">
                              <h3>إلى باب دارك</h3>
                              <p>تمكين توصل طلباتكم إلى باب داركم وبأسرع وقت ممكن</p>
                            </div>
                          </div>
                        </div>
                        <!-- break -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="service-container">
                            <div class="service-icon">
                              <a href="#"><i class="fa fa-thumbs-up"></i></a>
                            </div>
                            <div class="service-content">
                              <h3>الثقة</h3>
                              <p>كتب ومنتجات تمكن موثوقة ومؤيدة من مصادر مطئمنة فكرية و عقائدية</p>
                            </div>
                          </div>
                        </div>
                        <!-- break -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="service-container">
                            <div class="service-icon">
                              <a href="#"><i class="fa fa-group"></i></a>
                            </div>
                            <div class="service-content">
                              <h3>اجتماعية</h3>
                              <p>منتجات تمكين تهدف لبناء جيل صالح لمجتمع صالح</p>
                            </div>
                          </div>
                        </div>
                        <!-- break -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="service-container">
                            <div class="service-icon">
                              <a href="#"><i class="fa fa-key"></i></a>
                            </div>
                            <div class="service-content">
                              <h3>حلول وأجوبة</h3>
                              <p>كتب ومنتجات تمكين هي حلول للمشاكل وأجوبة للأسئلة والشبهات</p>
                            </div>
                          </div>
                        </div>
                </div>
          </div>  
</div>