{% extends 'base.html' %}
{% load static %}

{% block title %} مكتبة ودار تمكين للنشر - {{ book.title_book }} {% endblock title %}
{% block content %}

<!-- start datail -->
<div class="datail" id="datail">
    <div class="container" >
            
        <h2 class="special-heading">{{ book.title_book }}</h2>
        <p></p>
        <div class="datail-content">
            <div class="col col-center">
                <div class="image image-column">
                    <img src='{{ book.cover_book.url }}' class="img-fluid  mx-auto d-block" alt="Responsive image">
                </div> 
                {% if  user.is_authenticated %}
                    <a id="addto"  class="btn  btn-block btn-success align-self-center" data-toggle="modal" data-target="#staticmodal">
                        <i class="fas fa-shopping-cart text-right"></i> إضف إلى سلة المشتريات
                    </a>
                {% else %}
                   <a   class="badge text-center text-danger" >
                       لشراء هذا الكتاب يجب ان تقوم بتسجيل الدخول
                    </a>
                {% endif %}
               
            </div>

       

            <div class="col">
                <!-- start datail -->
                <div class="det">
                    <!-- <i class="fas fa-edit fa-2x "></i> -->
                    <div class="text"><h3><span>المؤلف: </span>{{ book.get_Authors }}</h3></div>
                    <div class="text"><h3><span>السعر: </span>{{ book.price }}</h3></div>
                    <div class="text"><h3><span>عدد الصفحات: </span>{{ book.pages }}</h3></div>
                    <div class="text"><h3><span>عدد الأجزاء: </span>{{ book.values }}</h3></div>
                    <div class="text"><h3><span>سنة النشر: </span>{{ book.y_publish }}</h3></div>

                    <div class="text"><h3><span> المكتبة: </span>{{ book.get_Stores }}</h3></div>
                    <div class="text"><h3><span>دور النشر: </span> {{ book.get_Publishers }}</h3></div>                   
                    <div class="text"><h3><span> متوفر: </span>{% if book.available %}متوفر
                    {% else %}
                    <text class="btn-danger">غير متوفر
                    {% endif %}
                    </h3></div>
                             
                    <div class="text"><h3><span>الفئة : </span>{{ book.get_Categories }}</h3></div>
                    <div class="text"><h3><span> </h3></div>
                </div>
                <!-- end datail -->               
               
            </div>
           
           
       
        </div>

        <div class=" description">

            <div class="col " >
                <!-- start datail -->
                    <div class="det">
                        {% comment %} <i class="fas fa-taxi fa-2x "></i> {% endcomment %}
                        <div class="text">
                            <h3>نبذة</h3>
                            <p>{{ book.description_book }}</p>
                        </div>
                    </div>
                    <!-- end datail -->
            </div>
        </div>
    </div>
</div>
<!-- End datail -->
<div class="date-content">
    
  



<!-- Modal -->
<div  class="modal fade" id="staticmodal" tabindex="-1" role="dialog" aria-labelledby="staticmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="staticmodalLabel">إضافة إلى سلة المشتريات</h5>
        <button type="button" id="btn_close" class="close  " data-dismiss="modal" aria-label="Close">
          <span  aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% comment %} <form  > {% endcomment %}

            <div class="form-group">
                <label for="quantity">حدد عدد النسخ لإضافتها في سلة المشتريات</label>
                <input  type="number" class="form-control" value="1" name="quantity" id="quantity" autofocus placeholder="عدد النسخ">
            </div>
            <input type="hidden" name="book_id" id="book_id" value="{{ book.id }}" />
 

 
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-block" data-dismiss="modal">إلغاء</button>
        <button id="sendbutton"  class="btn btn-success btn-block">إضافة</button>
        {% comment %} </form> {% endcomment %}
      </div>
    </div>
  </div>
</div>
 

</div>
{% endblock content %}




{% block  domready %}
    <script>   
        $("#sendbutton").click(function(){
            document.getElementById("btn_close").click()           
            $.get("{% url 'orders:add_to_cart' %}",
            {
                book_id: $("#book_id").val(),
                quantity: $("#quantity").val(),
            },
            function(data){
                alert(data + Status );
                }
            );
        });
    </script>   

{% endblock domready %}