{% load static %}



{% if comming_soon %}
    <div id="partner">
      <div class="container">
          <!-- begin:for-comming soon -->
            <div class="row">
              <div class="col-md-12">
                <div class="heading-title bg-white">
                  <h2>ترقبوا اصدارات تمكين القادمة</h2>
                </div>
              </div>
            </div>
            <div class="row">
            {% for book in comming_soon %}
            {% if not forloop.counter|divisibleby:2 %}
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="property-container">
                      <div class="property-content-list">
                        <div class="property-image-list">
                          <div class="bg-image"> </div>
                          <img src="{{ book.cover_book.url }}" alt="{{ book.book_title }}">
                          <div class="property-price">
                                    <!-- <h4>ویلا</h4> -->
                                {% for Publisher in book.Publishers.all %}
                        
                                        {% if not forloop.first %} - {% endif %}
                                        
                                        <a href="{% url 'books:books_Publisher' Publisher.id %}"
                                  
                                          >{{Publisher.name_publisher}}</a> 
                                {% endfor %}
                          </div>
                          <div class="property-features">
                                <span title="عدد الصفحات"><i class="fa fa-book"></i> {{book.pages}} </span>
                                <span title="سنة النشر"><i class="fa fa-calendar"></i>  {{book.y_publish}} </span>
                                {% comment %} <span title="التقييم"><i class="fa fa-star"></i> 3</span> {% endcomment %}
                                <span title="السعر"><i class="fa fa-money "></i>  {{book.price}} </span>
                          </div>
                        </div>
                        <div class="property-text">
                          <h3><a href="#">{{ book.book_title }}</a> </h3>
                                  <p>{{book.description_book |truncatechars:90}}</p>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- break -->
              {% else %}
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="property-container">
                      <div class="property-content-list">
                        <div class="property-text">
                          <h3><a href="#">{{ book.book_title }}</a> </h3>
                                  <p>{{book.description_book |truncatechars:90}}</p>
                          </p>
                        </div>
                        <div class="property-image-list">
                          <div class="bg-image"> </div>
                          <img src="{{ book.cover_book.url }}" alt="{{ book.book_title }}">
                          <div class="property-price">
                                    <!-- <h4>ویلا</h4> -->
                                {% for Publisher in book.Publishers.all %}
                        
                                        {% if not forloop.first %} - {% endif %}
                                        
                                        <a href="{% url 'books:books_Publisher' Publisher.id %}"
                                  
                                          >{{Publisher.name_publisher}}</a> 
                                {% endfor %}
                          </div>
                          <div class="property-features">
                                <span title="عدد الصفحات"><i class="fa fa-book"></i> {{book.pages}} </span>
                                <span title="سنة النشر"><i class="fa fa-calendar"></i>  {{book.y_publish}} </span>
                                {% comment %} <span title="التقييم"><i class="fa fa-star"></i> 3</span> {% endcomment %}
                                <span title="السعر"><i class="fa fa-money "></i>  {{book.price}} </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- break -->
              {% endif %}
            {% endfor %}
            </div>
            </div>
            </div>
            <!-- end:for-comming soon -->


{% endif %}





{% if quotes %}
          <!-- begin:testimony -->
      <div id="testimony" style=" background-image: url({% static 'tamkeen/img/book-bg.jpg' %}); ">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <div id="testislider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                {% for q in quotes %}
          


                    <div class="item {% if forloop.first %}   active {% endif %}">
                      <div class="testimony-container">
                        <div class="testimony-image" style="background: url({{q.image.url}})"></div>
                        <div class="testimony-content ">
                          <h3>{{q.person}}</h3>
                          <blockquote>
                            <p> {{q.quotation}} </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                {% endfor %}
           
                </div>
                <a class="right carousel-control" href="#testislider" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="left carousel-control" href="#testislider" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>              
            </div>
          </div>
        </div>
      </div>
    <!-- end:testimony -->

{% endif %}
