{% load static %}


<!-- start slide-show section -->
<div class="slide-show">
    <div class="">
        <div id="carouselExampleCaptions" class="carousel slide"data-bs-ride="carousel">
            <div class="carousel-indicators">
                    {% for  book in books %}
                        <button type="button" data-bs-target="#carouselExampleCaptions" {% if forloop.first %} class="active"  aria-current="true" {% endif %} 
                            data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter }}"> </button>            
                    {% endfor %}
            </div>
            <div class="carousel-inner">        
                {% for book in books %}
                    <div class="carousel-item   {% if forloop.first %}    active {% endif %}">
                        <img src="{{ book.cover_book.url }}" class="d-block w-100" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                             <a href="{% url 'books:Detail' book.id %}" ><h5>{{ book.title_book }}</h5></a>
                            <p>{{ book.description_book |truncatechars:100  }}</p> 
                            
                        </div>
                    </div>
                {% endfor %}           
            </div>
        </div>
    </div>
</div>
    <!-- end slide-show section -->





