{% load static %}

<!-- begin:more-order -->
{% if top_order %}
<div id="topOrder">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-title">
          <h2>الاصدارات الاكثر طلبا</h2>
        </div>
      </div>
    </div>
    <div class="row">

       {% for book in top_order %}

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="property-container">
          <div class="property-image">
            <div class="bg-image"></div>
            <img
              src="{{book.cover_book.url}}"
              alt="{{ book.title_book }}"
            />
            <div class="property-price">
              <span>
                    {% for Publisher in book.Publishers.all %}                    
                        {% if not forloop.first %} - {% endif %}                          
                        <a href="{% url 'books:books_Publisher' Publisher.id %}">{{Publisher.name_publisher}}</a> 
                    {% endfor %}            
              
              </span>
            </div>
          </div>
          <div class="property-content">
            <h3><a href="{% url 'books:Detail' book.id %}">  {{ book.title_book }}</a></h3>
            <p class="card-text">{{book.description_book |truncatechars:90}}</p>

          </div>
          <div class="property-features">
                 <span title="عدد الصفحات"><i class="fa fa-book"></i> {{book.pages}} </span>
                <span title="سنة النشر"><i class="fa fa-calendar"></i>  {{book.y_publish}} </span>
                <span title="التقييم"><i class="fa fa-star"></i> 
                            
                      {% for element in book.rate.all %}
                      {{ element.average |floatformat:1 }}
                      {% endfor %}

                </span>
               <span title="السعر"><i class="fa fa-money "></i>  {{book.price}} </span>
                          
          </div>
        </div>
      </div>
      <!-- break -->

      {% endfor %}

    </div>
    <!-- end row-->
  </div>
</div>
<!-- end:more-order -->
{% endif %}