

{% comment %} {% load thumbnail %} {% endcomment %}







{% for book in books %}


    <div class="book">
     <div class="media-29101">
                                <div class="card">
                                <a href="{% url 'books:Detail' book.id %}" > <img src="{{book.cover_book.url}}" alt="" /></a>
                                <div class="info">
                                    <a href="{% url 'books:Detail' book.id %}"> <h3>{{ book.title_book }}</h3></a>
                                     <h4>السعر: <span>{{book.price}}</span></h4> 
                                     <h4>عدد الصفحات: <span>{{book.pages}}</span></h4> 
                                     <h4>المكتبة: <span>{{book.get_Stores}}</span></h4> 
                                     <p class="card-text">{{book.description_book |truncatechars:90}}</p>
                                     {% for store in book.Stores.all %}
                                     {{store.name_store }}
                                     {% endfor %} 
                                </div>
                                </div>
                            </div>

    </div>


{% endfor %}


