{% extends "tbase.html" %}
{% load i18n static %}



{% block content %}
<div class="container text-center" style="magrin-top:10px">
<div class="login-box">



  <!-- /.login-logo -->
  <div class="card col-12;" style="margin-top: 84px; margin-left=auto; margin-right:auto ">
    <div class="card-body col-lg-6 col-md-8 col-sm-12 login-card-body bg-warning"  style="padding:25px; margin-bottom:50px; background-color:#9dfbb5;     border-radius: 30px;">
     
<p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

<p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

<p>سيتم الانتقال إلى الصفحة الرئيسية 10 ثوان</p>


</div>
</div>
</div>
</div>
<script>
document.ready(window.setTimeout(function(){window.location.href = "/";}, 10000)   )

   



</script>
{% endblock %}