{% extends "tbase.html" %}
{% load i18n static %}



{% block content %}
<div class="container text-center" style="magrin-top:10px">
<div class="login-box">



  <!-- /.login-logo -->
  <div class="card col-12   " style="    margin-top: 84px; margin-left=auto; margin-right:auto ">
    <div class="card-body col-lg-6 col-md-8 col-sm-12 login-card-body bg-warning"  style="padding:25px; margin-bottom:50px; background-color:#dcf6ef; ">
      

<p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% translate 'Log in' %}</a></p>




</div>
</div>
</div>
</div>

{% endblock %}
