{% extends 'tbase.html' %}

{% block title %}تسجيل الدخول {% endblock title %}
{% block content %}
{% if   user.is_authenticated %}


<div class="container text-center" style="magrin-top:10px">
<div class="login-box">
  <div class="login-logo">
  </div>


  <!-- /.login-logo -->
  <div class="card col-12   " style="    margin-top: 84px; margin-left=auto; margin-right:auto ">
    <div class="card-body col-lg-4 col-md-8 col-sm-12 login-card-body bg-warning"  style="padding-top:15px; background-color:#dcf6ef; ">
      <h4 class="alert-dark  mt-2" style="padding:15px;  ">تغيير كلمة المرور</h4>
         
    
                <form method="post">{% csrf_token %}
                <div style="    text-align: right;">
                {% if form.errors %}
                        <h5 class="alert-danger  mb-3" style="padding:7px ">
                            حصل خطاء: يرجى مراعاة النقاط التالية
                        </h5>

                
                {% endif %}
                
                    <div class="form-group">
                      <label for="username">كلمة المرور الحالية</label>
                         {{ form.old_password.errors }}
                         {{ form.old_password }}
                    </div>
                    <div class="form-group">
                      <label for="password">كلمة المرور الجديدة</label>
                        <p class="alert-danger">  {{ form.new_password1.errors }}
                        </p>
                          {{ form.new_password1 }}
                        {% if form.new_password1.help_text %}
                        <div class="help">{{ form.new_password1.help_text|safe }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                      <label for="password">كلمة المرور الجديدة</label>
                        {{ form.new_password2.errors }}
                            {{ form.new_password2 }}
                            {% if form.new_password2.help_text %}
                            <div class="help">{{ form.new_password2.help_text|safe }}</div>
                            {% endif %}
                    </div>
                        <input type="hidden" name="next" value="{{next}}" />
           
                 </div>
              <div class="modal-footer">
                      <input type="submit" class="btn btn-primary btn-block btn-lg" value="حفظ">
            </div>
              </form>





      <br>
    </div>
      <br>
    <!-- /.login-card-body -->
  </div>
      <br>
</div>
</div>
<script>
document.getElementById("id_old_password").classList.add("form-control");
document.getElementById("id_new_password1").classList.add("form-control");
document.getElementById("id_new_password2").classList.add("form-control");
</script>



{% endif %}
{% endblock content %}