{% extends "tbase.html" %}
{% load i18n static %}



{% block content %}
<div class="container text-center" style="magrin-top:10px">
<div class="login-box">



  <!-- /.login-logo -->
  <div class="card col-12   " style="    margin-top: 84px; margin-left=auto; margin-right:auto ">
    <div class="card-body col-lg-6 col-md-8 col-sm-12 login-card-body bg-warning"  style="padding:25px; margin-bottom:50px; background-color:#dcf6ef; ">
      

{% if validlink %}

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% translate 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
  <br>
               <div class="modal-footer">
                      <input type="submit" class="btn btn-primary btn-block btn-lg" value="{% translate 'Change my password' %}">
            </div>
</fieldset>
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}


</div>
</div>
</div>
</div>
<script>
    var inputs, index;
    inputs = document.getElementsByTagName('input');
    for (index = 0; index < inputs.length; ++index) {
        inputs[index].classList.add("form-control");;
    }
</script>
{% endblock %}

