{% extends "tbase.html" %}
{% load i18n static %}



{% block content %}
<div class="container text-center" style="magrin-top:10px">
<div class="login-box">



  <!-- /.login-logo -->
  <div class="card col-12   " style="    margin-top: 84px; margin-left=auto; margin-right:auto ">
    <div class="card-body col-lg-6 col-md-8 col-sm-12 login-card-body bg-warning"  style="padding:25px; margin-bottom:50px; background-color:#dcf6ef; ">
      
<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% translate 'Email address:' %}</label>
        {{ form.email }}
    </div>

              <div class="modal-footer">
                      <input type="submit" class="btn btn-primary btn-block btn-lg" value="{% translate 'Reset my password' %}">
            </div>
</fieldset>
</form>

</div>
</div>
</div>
</div>
<script>
    var inputs, index;
    inputs = document.getElementsByTagName('input');
    for (index = 0; index < inputs.length; ++index) {
        inputs[index].classList.add("form-control");;
    }
</script>
{% endblock %}
