{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock title %}</title> 
  <link rel="stylesheet" href="{% static 'books/css/normalize.css' %} " />
  <link rel="stylesheet" href="{% static 'books/css/all.min.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;800&display=swap" rel="stylesheet" />
  <!-- //////////////////// -->

  {% comment %}
  <link rel="stylesheet" href="{% static 'books/slide/css/owl.carousel.min.css' %}" /> {% endcomment %}

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="{% static 'books/slide/css/bootstrap.min.css">' %} -->
  <!-- Style -->
  <link rel="stylesheet" href="{% static 'books/slide/css/style.css' %}" />

  <!-- //////////////////// -->
  <link rel="stylesheet" href="{% static 'books/css/leon.css' %}" />
</head>

<body>
  <!-- start Header  -->
  <div class="header" dir="ltr">
    <div class="container" id="uphome">
      <img src="{% static 'books/images/tamkeen-logo.jpg' %}" class="logo" alt="" />
      <div class="intro-text">
        <h1>مكتبة ودار تمكين للنشر</h1>
        <p>تمكين، حضارة مقاومة</p>
      </div>
      <div class="links" style="text-align: right;">
        <span class="icon">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <ul style="direction: rtl !important;">
          <li><a href="{% url 'Homesite' %}">الصفحة الأولى</a></li>
          <li><a href="#news-pro">جديد تمكين</a></li>
          <li><a href="#top-sell">الأعلى مبيعا</a></li>
          <li><a href="#stor">فروعنا</a></li>
          <li><a href="{% url 'orders:cart' %}">سلة المشتريات</a></li>
          <li><a href="#contact">اتصل بنا</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end Header  -->
  {% block messages %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    <!-- singular -->
    <a class="close" data-dismiss="alert">×</a>
    {{ message|safe }}
  </div>
  {% endfor %}
  {% endif %}
  {% endblock %}
  <div class="container">{% block content %} {% endblock content %}</div>

  <!-- start footer -->
  <div class="footer">
    جميع الحقوق محفوظة لـ
    <span>مكتبة ودار تمكين للنشر</span>
    &copy; 2021
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- start footer -->

  <!-- ---------------------------------------- -->

  {% comment %}
  <script src="{% static 'books/slide/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'books/slide/js/popper.min.js' %}"></script>
  <script src="{% static 'books/slide/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'books/slide/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'books/slide/js/main.js' %}"></script> {% endcomment %}

  <!-- ---------------------------------------- -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>





  <script>


    const csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

  </script>

  {% block domready %}

  {% endblock domready %}



</body>

</html>